.contact_contanier {
  display: flex;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 60px 0 200px 0;
  justify-content: space-evenly;
  margin: auto;
  height: 400px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.names {
  display: flex;
  gap: 0.5rem;
  width: 456px;
}

.names input,
textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  outline: none;
}
.contact_form h2 {
  color: #fff;
  font-size: 2rem;
}
.names input::placeholder,
textarea::placeholder {
  padding-left: 5px;
  color: #fff;
}
.send {
  border-radius: 20px;
  color: #212121;
  border: none;
  width: 25%;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.contact_img {
  width: 456px;
}
.contact_img img {
  width: 100%;
  animation: updowns 3s linear infinite alternate;
}
@keyframes updowns {
  100% {
    transform: scale(1.2);
  }
}
