.navbar_container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding-left: 8%;
  width: 92%;
  position: fixed;
}
.logo span {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}
.scrolled {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(217, 217, 217, 0.1);
}
.scrolled nav li a {
  color: #212121 !important;
}
.scrolled .contact_btn {
  background-color: #212121;
  color: #fff;
  border: 1px solid #ffff;
}
.scrolled .logo span {
  color: #212121;
}
.scrolled .menu .icons a {
  background-color: #fff;
  color: #212121;
  border: 1px solid #212121;
}
.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.menu nav {
  display: flex;
  color: #fff;
  list-style: none;
  gap: 4rem;
}
.menu nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.menu .icons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.menu .icons a {
  width: 20px;
  height: 20px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 5px;
  background: rgba(217, 217, 217, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .icons a:hover {
  color: #8f348e;
}
.contact_btn {
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0px;
}
.contact_btn:hover {
  color: #5b2860;
}
.mobile__menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile__menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .AiOutlineMenu {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
  .show__menu {
    display: flex !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    line-height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
  }
  .show__menu nav {
    flex-direction: column;
  }
}
