.project_container {
  background-color: #121212;
  padding: 15px;
  margin: 0;
  color: #fff;
  height: 600px;
}
.project_container h2 {
  padding: 25px;
  cursor: pointer;
}
.project_container h2:hover {
  color: #5b2860;
}
.project_card {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 100%;
}
.product {
  width: 25%;
}
.project_card img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
