.skills_container {
  background-color: #121212;
  color: #fff;
  width: 70%;
  margin: auto;
  border-radius: 25px;
  padding: 15px;
  height: 400px;
  margin-top: -25%;
}
.slider_client {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50% !important;
}
.skill_bg {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("../img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills_name{
  padding-left: 25px;
  padding-top: 25px;
}